{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="icon" href="{% static 'Images/Logoicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'JS/Scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7WbdNwJKH0FP2Q4g4Kj7VX9vHk/7VJhjxuN8n7WLG5w5R5E1+vGUNR8LfQWlL30vA3lqLrkEDa8e7WYmqgG4Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sobre Nosotros</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg mi-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}"><spam class="inac">Home</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adoptar' %}"><spam class="inac">Adoptar</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'como_adoptar' %}"><spam class="inac">Cómo Adoptar</spam></a>
                    </li>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'Images/Logo.png' %}" alt="Logo del sitio web" style="width: 130px; height: 130px; object-fit: contain;">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><spam class="activate">Sobre Nosotros</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}"><span class="inac">Contacto</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donacion' %}"><spam class="inac">Donaciones</spam></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <a href="#" class="volver-arriba"><img src="{% static 'Images/flechas-arriba.png' %}" alt="volver arriba"></a>
    <div>
        <img class="portada_comoAdoptar" src="{% static 'Images\About\perro-control-veterinario-tiro-medio.jpg' %}" alt="perro en el veterinario" />
        <div class="portada22"></div>
        <h1 class="titulo90">Conoce más sobre nosotros</h1>
        <h3 class="titulo91">Quiénes somos y qué hacemos</h3>
    </div>

    <div>
        <img class="klk" src="{% static 'Images\About\veterinaria-gato.png' %}" alt="veterinaria sosteniendo gato" />
        <h1 class="titulo88">Sobre Nosotros</h1>
        <p class="parrafo88">Somos una organización sin fines de lucro dedicada a ayudar a los animales en situación de abandono y maltrato, promoviendo su bienestar y procurando su adopción responsable. Nos enfocamos en colaborar con la comunidad para generar conciencia sobre la importancia del cuidado animal y la tenencia responsable.
            <br>
            <br>Nuestra organización también busca sensibilizar a la sociedad sobre los peligros de la crueldad animal y el tráfico ilegal de especies. Buscamos crear un impacto positivo en la vida de los animales a través de la educación y la capacitación para su cuidado, así como también mediante la promoción de leyes y políticas públicas que protejan sus derechos y bienestar. 
        </p>
    </div>

    <div>
        <div class="card11"></div>
        <h1 class="mision">Misión</h1>
        <p class="p100">
            En Dottare Me trabajamos para ayudar 
            <br>a los animales en situación de 
            <br>abandono y maltrato, promoviendo 
            <br>su bienestar y procurando su 
            <br>adopción responsable.
        </p>

        <div class="card22"></div>
        <h1 class="vision">Visión</h1>
        <p class="p101">
            Creemos en un mundo en el que  
            <br>todos los animales son tratados con  
            <br>compasión y respeto, y en el que 
            <br>ningún animal sufre por falta 
            <br>de atención y cuidado.
        </p>

        <div class="card33"></div>
        <h1 class="valores">Valores</h1>
        <p class="p102">
            Compasión
            <br>Responsabilidad
            <br>Colaboración
            <br>Ética
            <br>Empatía
            <br>Dedicación
        </p>

        <img class="park" src="{% static 'Images\About\park.png' %}"/>
        <img class="arboles" src="{% static 'Images\About\arboles1.png' %}"/>
        <img class="draw1" src="{% static 'Images\About\draw1.png' %}"/>
        <img class="draw2" src="{% static 'Images\About\draw2.png' %}"/>
        <div class="rombo"></div>
    </div>

    <div>
        <div class="ubicacion" style="position: absolute; top: 500px; left: 45px;">
            <img class="arbusto1" src="{% static 'Images\About\arbusto1.png' %}"/>
            <img class="iconUbi" src="{% static 'Images\About\loc.png' %}"/>
            <h2 class="ubicacion">UBICACIÓN</h2>
            <div class="rayita1"></div>
            <p class="pLoc">Torre Naranja, 
                <br>Santo Domingo
            </p>
        </div>

        <div class="contactos" style="position: absolute; top: 500px; left: 385px;">
            <img class="arbusto1" src="{% static 'Images\About\arbusto2.png' %}"/>
            <img class="iconUbi" src="{% static 'Images\About\tel.png' %}"/>
            <h2 class="ubicacion">CONTACTO</h2>
            <div class="rayita1"></div>
            <p class="pLoc">+1 809 909 5631 
                <br>info@dottareme.com
            </p>
        </div>

        <div class="horario" style="position: absolute; top: 500px; left: 730px;">
            <img class="arbusto1" src="{% static 'Images\About\arbusto1.png' %}"/>
            <img class="iconUbi" src="{% static 'Images\About\clock.png' %}"/>
            <h2 class="HORARIO">HORARIO</h2>
            <div class="rayita1"></div>
            <p class="pHOR">Lunes a Viernes
                <br>08:00 AM a 05:00 PM
            </p>
        </div>
        
    </div>

    <!-- footer -->
    <footer style="position: absolute; top: -865px;">
        <img class="footer" src="{% static 'Images/footer.png' %}">
        <img class="perrodot" src="{% static 'Images/perrodot.png' %}">
        <p class="p15">© 2023 Dottare Me</p>
        <p class="p16"><a href="#">Términos & Condiciones</a></p>
        <img class="fb" src="{% static 'Images/fb.png' %}">
        <img class="ig" src="{% static 'Images/ig.png' %}">
    </footer>

</body>
</html>