{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="icon" href="{% static 'Images/Logoicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'JS/Scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7WbdNwJKH0FP2Q4g4Kj7VX9vHk/7VJhjxuN8n7WLG5w5R5E1+vGUNR8LfQWlL30vA3lqLrkEDa8e7WYmqgG4Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Adoptar</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg mi-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}"><spam class="inac">Home</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adoptar' %}"><spam class="activate">Adoptar</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'como_adoptar' %}"><spam class="inac">Cómo Adoptar</spam></a>
                    </li>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'Images/Logo.png' %}" alt="Logo del sitio web" style="width: 130px; height: 130px; object-fit: contain;">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><spam class="inac">Sobre Nosotros</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}"><span class="inac">Contacto</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donacion' %}"><spam class="inac">Donaciones</spam></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1 class="titulo0">¡Adopta a tu Mejor Amigo!</h1>
    <h3 class="subtitulo0">Encuentra a tu compañero perfecto.</h3>

    <div class="search-container" style="z-index: 10;">
        <form action="{% url 'buscar_resultados' %}" method="GET">
          <label class="titulo9" for="query">Buscar:</label>
          <input type="text" name="q" id="query" placeholder="Buscar animal...">
          <label for="filter">Filtrar por:</label>
          <select name="filter" id="filter">
            <option value="">Todos</option>
            <option value="dogs">Perros</option>
            <option value="cats">Gatos</option>
            <option value="rabbits">Conejos</option>
            <option value="others">Otros</option>
          </select>
          <button type="submit" class="search-button">Buscar</button>
        </form>
    </div>

    <img class="vtc4" src="{% static 'Images\Adoptar\vtc4.png' %}" />
    <img class="vtc5" src="{% static 'Images\Adoptar\vtc5.png' %}" />
    <img class="vtc6" src="{% static 'Images\Adoptar\vtc6.png' %}" />
    <img class="vtc7" src="{% static 'Images\Adoptar\vtc7.png' %}" />
    
    <div style="position: absolute; left: 100px; top: auto;">
        <div style="position: absolute; top: -199px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>
        
        <div style="position: absolute; top: -199px; left: 320px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>
    
        <div style="position: absolute; top: -199px; left: 640px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>
    
        <div style="position: absolute; top: 160px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>
    
        <div style="position: absolute; top: 160px; left: 320px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>

        <div style="position: absolute; top: 160px; left: 640px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>

        <div style="position: absolute; top: 520px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>
    
        <div style="position: absolute; top: 520px; left: 320px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>

        <div style="position: absolute; top: 520px; left: 640px;">        
            <div class="card_animal"></div>
            <a href="{% url 'perfil_animal' %}"><img class="imagen_adoptar" src="{% static 'Images\Adoptar\doggo3-1.jpg' %}" /> </a>
            <div class="bg_adoptar"></div>   
            <label class="nombre_adoptar"><a href="{% url 'perfil_animal' %}">Doggo</a></label>
            <p class="edad_sexo">Varón, 9 meses</p>  
        </div>
    </div>
    

    <!-- footer -->
    <footer style="position: absolute; top: -2600px;">
        <img class="footer" src="{% static 'Images/footer.png' %}">
        <img class="perrodot" src="{% static 'Images/perrodot.png' %}">
        <p class="p15">© 2023 Dottare Me</p>
        <p class="p16"><a href="#">Términos & Condiciones</a></p>
        <img class="fb" src="{% static 'Images/fb.png' %}">
        <img class="ig" src="{% static 'Images/ig.png' %}">
    </footer>

</body>
</html>