{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="icon" href="{% static 'Images/Logoicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'JS/Scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-7WbdNwJKH0FP2Q4g4Kj7VX9vHk/7VJhjxuN8n7WLG5w5R5E1+vGUNR8LfQWlL30vA3lqLrkEDa8e7WYmqgG4Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Perfil del Animal</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg mi-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}"><spam class="inac">Home</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adoptar' %}"><spam class="activate">Adoptar</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'como_adoptar' %}"><spam class="inac">Cómo Adoptar</spam></a>
                    </li>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'Images/Logo.png' %}" alt="Logo del sitio web" style="width: 130px; height: 130px; object-fit: contain;">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><spam class="inac">Sobre Nosotros</spam></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}"><span class="inac">Contacto</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donacion' %}"><spam class="inac">Donaciones</spam></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <button class="btn_back">
        <a href="{% url 'adoptar' %}">
            <img class="flechita" src="{% static 'Images\Perfil_Animal\flechas-izquierda1.png' %}">
        </a>
    </button>
    <h1 class="titulo77">Perfil del Animal</h1>
    <h3 class="nombreAnimal">Doggo</h3>
    <label class="raza">Beagle</label>

    <div class="gallery" style="position: absolute; left: 100px; top: 350px;">
        <div class="main-image">
          <img src="{% static 'Images\Perfil_Animal\doggo1.jpg' %}" alt="Imagen 1">
        </div>
        <div class="thumbnail-images">
          <img src="{% static 'Images\Perfil_Animal\doggo1.jpg' %}" alt="Imagen 1" class="thumbnail">
          <img src="{% static 'Images\Perfil_Animal\doggo2.jpg' %}" alt="Imagen 2" class="thumbnail">
          <img src="{% static 'Images\Perfil_Animal\doggo3.jpg' %}" alt="Imagen 3" class="thumbnail">
          <img src="{% static 'Images\Perfil_Animal\doggo4.jpg' %}" alt="Imagen 4" class="thumbnail">
        </div>
    </div>
      

    <label class="sexo">Sexo</label>
    <p class="sexo1">Varón</p>

    <label class="edad">Edad</label>
    <p class="edad1">1 año</p>

    <label class="altura">Altura</label>
    <p class="altura1">41 cm</p>

    <label class="fecchanac">Fecha de Nacimiento</label>
    <p class="fecchanac1">04/07/2022</p>

    <label class="tamano">Tamaño</label>
    <p class="tamano1">Mediano</p>

    <label class="peso">Peso</label>
    <p class="peso1">10 Kg</p>

    <label class="ubicacionn">Ubicación</label>
    <p class="ubicacionn1">Refugio SDN</p>

    <label class="status">Status</label>
    <p class="status1">En adopción</p>

    <div>
        <div class="card333"></div>
        <h2 class="descrip">Descripción</h2>
        <p class="pdesc">
            Doggo es un hermoso beagle de un año de 
            <br>edad con un pelaje rojizo brillante. Es un 
            <br>perro activo y juguetón, siempre 
            <br>dispuesto a explorar y jugar con sus amigos 
            <br>humanos y peludos. Le encanta correr, 
            <br>saltar y perseguir juguetes. Como la mayoría 
            <br>de los beagles, tiene un sentido del olfato 
            <br>muy agudo, por lo que disfruta mucho de los 
            <br>paseos y explorar el mundo a través de su 
            <br>nariz.
        </p>
        <img class="iconoo" src="{% static 'Images\Perfil_Animal\icon3.png' %}"/>
    </div>

    <div style="position: absolute; left: 600px; top: 0px;">
        <div class="card333"></div>
        <h2 class="descrip">Salud</h2>
        <p class="pdesc">
            Doggo está en buena salud. Ha recibido todas 
            <br>sus vacunas y se sometió a un examen 
            <br>veterinario completo antes de ser 
            <br>puesto en adopción. Tiene un buen peso y está 
            <br>en forma. Es un perro activo y enérgico, por 
            <br>lo que es importante que reciba suficiente 
            <br>ejercicio y una alimentación equilibrada 
            <br>para mantenerse saludable.
        </p>
        <img class="iconoo" src="{% static 'Images\Perfil_Animal\icon2.png' %}"/>
    </div>

    <img class="patita6" src="{% static 'Images\Perfil_Animal\patita6.png' %}"/>
    <img class="patita7" src="{% static 'Images\Perfil_Animal\patita7.png' %}"/>

    <button class="info"><a href="{% url 'contacto' %}">Más Información</a></button>
    
    <!-- footer -->
    <footer style="position: relative; top: -2500px;">
        <img class="footer" src="{% static 'Images/footer.png' %}">
        <img class="perrodot" src="{% static 'Images/perrodot.png' %}">
        <p class="p15">© 2023 Dottare Me</p>
        <p class="p16"><a href="#">Términos & Condiciones</a></p>
        <img class="fb" src="{% static 'Images/fb.png' %}">
        <img class="ig" src="{% static 'Images/ig.png' %}">
    </footer>
</body>
</html>